# tensorflow-gpu==2.0.0-alpha0
tensorflow==2.0.0-alpha0
numpy==1.15
tqdm
nibabel     # Preprocessing.
scipy       # Hausdorff distance.
pydot       # Graph visualization.
graphviz    # Graph visualization.
